<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Blind</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/main">BLIND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="modal" data-target="#savePostsModal">게시하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dash Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal"  data-target="#changeNick">내 정보 수정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">안녕하세요 </h1><h1 class="my-4" th:text="${nick}"></h1>
            <div id = "boardList"></div>
        </div>
    </div>
</div>

<!-- /.modal -->
<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="posting">게시글 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id = "writeForm" encType="multipart/form-data">
                    <div class="form-group">
                        <label for="imgFile">이미지</label>
                        <input type="file" class="form-control" name="imgFile" id="imgFile" placeholder = "사진 업로드 하기">
                    </div>
                    <div class="form-group">
                        <label for="writeSubject">제목</label>
                        <input type="text" class="form-control" name = "boardSubject" id="writeSubject" placeholder="제목을 입력하세요" required = "true" maxlength="500">
                    </div>
                    <div class="form-group">
                        <label for="writeContent"> 내용 </label>
                        <textarea class="form-control" name = "boardContents" id="writeContent" placeholder="내용을 입력하세요" required = "true" maxlength="2000"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnWrite">등록</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeNick" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePostsLabel">닉네임 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nickName">변경할 닉네임</label>
                        <input type="text" id = "nickName" class="form-control"  placeholder="변경하실 닉네임을 작성하세요.">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="btnModifyNick">등록</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="btnDeleteMember">회원 탈퇴</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/write.js"></script>
<script src="js/scroll.js"></script>
<script src="js/modifyUser.js"></script>
</body>

</html>
