<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Blind</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../main">BLIND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../main">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#savePostsModal">게시하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dash Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#changeNick">내 정보 수정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4" th:text="${board.boardSubject}"></h1>
            <input type="hidden" th:value="${board.boardId}" id="boardId"/>
            <div class="col-lg-4">
                <a class="btn btn-primary btn-lg" id="updateButton" data-toggle="modal" data-target="#\updatingModal">수정</a>
                <a class="btn btn-primary btn-lg" id="deleteButton">삭제</a>
            </div>
            <div class="row my-4">
                <div class="col-lg-8">
                    <img class="img-fluid rounded" th:src="${board.filePath}" alt="">
                </div>
                <div class="col-lg-4">

                    <textarea style="resize:none;overflow:auto" th:text="${board.boardContents}" readonly="readonly" cols="70" rows="12"></textarea>
                </div>
            </div>
            작성자 : <label th:text="${board.member.memberNick}"></label>
            <p th:switch="${board.boardStatus}">
                <label th:case="0">생성 일 : <label
                        th:text="${#dates.format(board.boardModDate, 'yyyy/MM/dd')}"></label></label>
                <label th:case="1">수정 일 : <label
                        th:text="${#dates.format(board.boardModDate, 'yyyy/MM/dd')}"></label></label>
            </p>

            <div>
                <div class="container">
                    <label for="replyContents">댓글</label>
                    <div id="sessionEmail" style="display:none;">[[${#httpServletRequest.remoteUser}]]</div>
                    <form name="replyInsertForm" id = "replyInsertForm">
                        <div class="input-group">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="boardId"  id = "paramBoardId" th:value="${board.boardId}"/>
                            <input type="text" class="form-control" id="replyContents" name="replyContents" placeholder="내용을 입력하세요.">
                            <span class="input-group-btn">
                             <button class="btn btn-default" type="button" name="btnReply" id="btnReply">등록</button>
                           </span>
                        </div>
                    </form>
                </div>

                <div class="container">
                    <div id="replyList"></div>
                    <button type="button" class="btn btn-primary" id="btnMoreReply">더보기</button>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

<!-- /.modal -->
<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="posting">게시글 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="writeForm" encType="multipart/form-data">
                    <div class="form-group">
                        <label for="imgFile">이미지</label>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="file" class="form-control" name="imgFile" id="imgFile" placeholder="사진 업로드 하기">
                    </div>
                    <div class="form-group">
                        <label for="writeSubject">제목</label>
                        <input type="text" class="form-control" name="boardSubject" id="writeSubject"
                               placeholder="제목을 입력하세요" required="true" maxlength="500">
                    </div>
                    <div class="form-group">
                        <label for="writeContent"> 내용 </label>
                        <textarea class="form-control" name="boardContents" id="writeContent" placeholder="내용을 입력하세요"
                                  required="true" maxlength="2000"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnWrite">등록</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeNick" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePostsLabel">닉네임 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nickName">변경할 닉네임</label>
                        <input type="text" id = "nickName" class="form-control"  placeholder="변경하실 닉네임을 작성하세요.">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="btnModifyNick">등록</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updatingModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updating">게시글 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateForm" th:action="@{/${board.boardId}}" encType="multipart/form-data">
                    <div class="form-group">
                        <label for="imgFile">이미지</label>
                        <input type="hidden" name="boardId"  th:value="${board.boardId}"/>
                        <input type="file" class="form-control" name="imgFile" id="updateImgFile" placeholder="사진 수정 하기">
                    </div>
                    <div class="form-group">
                        <label for="writeSubject">제목</label>
                        <input type="text" class="form-control" th:value="${board.boardSubject}" name="boardSubject" id="updateSubject" placeholder="제목을 입력하세요" required="true" maxlength="500">
                    </div>
                    <div class="form-group">
                        <label for="writeContent"> 내용 </label>
                        <textarea class="form-control" name="boardContents" th:text="${board.boardContents}" id="updateContent" placeholder="내용을 입력하세요" required="true" maxlength="2000"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnUpdate">수정</button>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/update.js"></script>
<script src="../js/reply.js"></script>
<script src="../js/modifyNick.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var session = /*[[${#httpServletRequest.remoteUser}]]*/;
        var memberEmail = /*[[${board.sessionEmail}]]*/

        if (session != memberEmail) {
            $("#updateButton").hide();
            $("#deleteButton").hide();
        }

    });
</script>
</body>

</html>
